* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    width: 100%;
    margin: auto;

}

header {
    background-color: #dcdcdc;
    height: 230px;
    color: #777777;
    width: 100%;
}

.container{
    max-width: 970px;
    padding: 0 10px 0 10px;
    padding-top: 65px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo_and_name {
    display: grid;
    grid-template-columns:1fr 5fr;
}

#logo{
    justify-self: end;
    margin-right: 15px;
}

#logo img{
    height: 100px;
    width: 100px;
}

.header_name{
    display: grid;
    grid-template-columns: 1fr;
}

.header_name h4{
    font-size: 24px;
    align-self: end;
}

.container > .phone_numbers{
    justify-self: end;
    align-self: center;
    font-size: 30px;
}

.menu{
    height: 80px;
    background-color: #777777;
    color: #ffffff;
    width: 100%;
}

.menu .menu_list{
    max-width: 970px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    padding: 25px;
    
}

.menu ul li{
    justify-content: space-evenly;
    justify-self: center;

}

.menu ul li:not(:first-child){
    border-left: solid;
    padding-left: 30px;
}

.menu_list a{
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
}
.menu_list a:hover {
    border-bottom: 1px solid currentColor;
}

.slider{
    max-width: 970px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    display: grid;
}

.slider img{
    height: 300px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 970px;
    padding: 30px 10px 0 10px;
    margin: 0 auto;
    grid-gap: 50px;
    margin-bottom: 200px;
}

aside{
    background-color: #777777;
    color:#ffffff;
    font-size: 14px;
}

aside p{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 45px;
    line-height: 20px;
}

aside h2{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

aside h5{
    float: right;
    margin-right: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    color: #ffffff;
}

.center{
    color: #777777;
    
}

.center p{
    margin-bottom: 30px;
    line-height: 20px;
}

.center h2{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
}

footer{
    background-color: #777777;
    color: #ffffff;
    width: 100%;
}

footer .footer_container{
    max-width: 970px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer_container ul{
    list-style-type: none;
}



.footer_center{
    line-height: 25px;
}

.footer_center li{
    color: #ffffff;
}

.footer_right img{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.footer_right a{
    color: #ffffff;
}